:root {
  --text: rgb(247, 219, 250);
  --background: rgb(28, 4, 32);
  --primary: rgb(129, 0, 138);
  --secondary: rgb(102, 49, 108);
}

body, html {
  font-family: "Science Gothic", sans-serif;
  color: var(--text);
  background: var(--background);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  #hrat_button {
    padding: 8px 20px;
  }
  button {
    font-family: "Science Gothic", sans-serif;
    color: var(--text);
    border: 2px solid var(--primary);
    border-radius: 5px;
    background: var(--secondary);
    padding: 8px 16px;
    &:hover {
      background: var(--primary);
    }
    &:active {
      background: var(--secondary);
    }
  }
  a {
    color: var(--text);
  }
}
